<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budapestquest">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActionCards.AkcioAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.LepesAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.AutomataAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.MunkaAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.BoltAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.HarcAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.KondiAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ActionCards.KaszinoAct" android:configChanges="orientation|screenSize|keyboardHidden"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".CreateCharAct" android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".barcode.BarcodeCaptureActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>